.vertu {
  // padding: 94px 0;
  padding: 60px 0;

  &-list {
    @media screen and (min-width:768px){
      margin: -15px;
      display: flex;
      flex-wrap: wrap;

      outline: 1px solid black;
    }
  }

  &-item{
    @media screen and (min-width:768px){
      // margin: var(--mci);
      // width: calc((100% - 2 * 2 * var(--mci)) / 2);
      margin: 15px;
      width: calc((100% - 2 * 2 * 15px) / 2);
    }
    @media screen and (min-width:1200px){
      margin: 15px;
      width: calc((100% - 4 * 2 * 15px) / 4);
    }

    // margin: 15px;
    outline: 1px solid violet;
  }

  &-header {
    margin-top: 30px;
    font-weight: bold;
    // 700
    font-size: 14px;
    line-height: calc(16 / 14);
      text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
  }

  &-text {
    margin: 10px 0 30px;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
}
// .vertu-item {
//   // width: 270px;

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }
.vertu .icon {
  margin: 25px 190px;
  width: 70px;
  height: 70px;

  @media screen and (min-width: 768px){
    margin-left: 142px;
  }
  @media screen and (min-width: 1200px){
    margin-left: 100px;
  }

}
.icon-place {
  
  // margin-right: auto;
  // /* display: block; */
  background-color: #f5f4fa;
}