:root {
  --mci: 15px; // --marg-cl-itm
  --mcin: calc((-1) * (var(--mci))); //marginClientsItemNegative
}
.clients {
  padding: 60px 0;
  &-header {
    margin-bottom: calc(2 * var(--mci));
    // outline: 1px solid black;
  }
}
.clients-list {
  // @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin: var(--mcin);
//   outline: 1px solid black;
}
.client-icon {
  max-width: 88px;
  max-height: 52px;
}
.clients-item {
  margin: 0 var(--mci);
  width: 100%;

  @media screen and (min-width: 480px) {
    margin: var(--mci);
    width: calc((100% - 2 * 2 * var(--mci)) / 2);
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 3 * var(--mci)) / 3);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 2 * 6 * var(--mci)) / 6);
  }

  &:not(:last-child) {
    @media screen and (max-width: 479px) {
      margin-bottom: var(--mci);
    }
  }
  //   outline: 1px solid red;;
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  text-align: center;

  fill: #afb1b8;

  transition: fill var(--t-cubic);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
    outline: none;
  }
}
