.footer {
  padding: 60px 0;
  background-color: #2f303a;
  width: 480px;

  @media screen and (min-width:768px){
    width: 768px;
  }

  @media screen and (min-width:1200px){
    width: 1600px;
  }
}
.footer .container {
  // display: flex;
    // width: 100%;
}
.footer-tablet{
  @media screen and (min-width:768px){
    display: flex;
    justify-content: space-between;

    outline: 1px solid white;
  }
}
.footer-logo{
  // display: block;
  // margin-left: auto;
  // margin-right: auto;

  @media screen and (max-width:767px){
    text-align: center;
  }
  @media screen and (min-width:768px){
    margin-left: 100px;;
  }
}
.footer address {
  // width: 231px;
  // height: 81px;
  // display: inline-block;
  margin-top: 20px;

  @media screen and (max-width:767px){
    text-align: center;
  }

  @media screen and (min-width:768px){
    margin-left: calc(76px - 15px);

    display: flex;
    // align-items: center;
    // justify-content: center;
  }

  // font-weight: normal;
  // font-size: 14px;
  // line-height: calc(24/14);
  // letter-spacing: 0.03em;

  // color: #ffffff;
}
.map-address {
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24/14);
    /* text-align: center;*/
  letter-spacing: 0.03em;
  color: #ffffff;

  transition: color var(--t-cubic);
}
.footer .part2 {
  color: #ffffff;
}

.address-item{
  @media screen and (min-width:768px){
    text-align: center;
  }
}

.address-item .email,
.address-item .phone {
  display: block;

  font-weight: normal;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
  // margin-top: 9px;
     margin-top: 8px;
}
/* ------------------- Присоединяйтесь --------------------*/
.join-box {
  // width: 206px;
  // height: 80px;
  // margin-left: 70px;
  // margin-top: 12px;
    margin-top: 60px;
    text-align: center;
    @media screen and (min-width:768px){
      margin-top: 5px;
      margin-right: calc(89px - 15px);
    }
}
.join-header,
.subscribe-email label {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.soc-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}
// .join-box 
.soc-links {
  // display: flex;
  // justify-content: space-between;
  // margin-top: 20px;
  // fill: #afb1b8;
    fill: #fff;
  margin: 20px auto 0 auto;

}
/* ------------------- ПОДПИСКА --------------------*/
.subscribe {
  // display: flex;

  // width: 570px;
  // height: 86px;
  // margin-left: 93px;
  // margin-top: 12px;
    // margin-top: 60px;
    // text-align: center;
  // align-items: flex-end;
  // justify-content: space-between;
  
}
.subscribe-email label {
  margin-bottom: 20px;
    // text-align: center;
}
.subscribe-email {

  margin-top: 60px;
    text-align: center;
  display: flex;
  flex-direction: column;
  
  @media screen and (min-width:768px){
    margin-left: calc(166px - 15px);
    margin-right: calc(152px - 15px);
  }

  // outline: 1px solid white;
}
.subscribe-email input {
    // width: 96%;
    // width: 50%;
    // text-align: center;

  height: 50px;
  padding-left: 16px;
  background-color: #2f303a;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  line-height: calc(20 / 16);
  color: #fff;
}
.subscribe-email button {
  margin: 20px auto 0 auto;
  // padding: 29px;
  // padding-top: 10px;
  // padding-bottom: 10px;
  color: #fff;
  background-color: var(--accent-color);
}
.send {
  margin-left: 10px;
}