.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  //   padding: 20px;
  text-align: center;
  // font-size: 20px;

  // background-color: palegoldenrod;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    box-shadow:none;
  }
}

.site-nav {
  @media screen and (min-width: 768px) {
    width: 294px;
    margin-left: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-direction: row;
    // Font family: Roboto;
    // Font style: Medium;
    // Font size: 14px;
    // Line height: 16px;
    // Line height: 100%;

    // Align: Left;
    // Vertical align: Top;

    // Letter spacing: 2%;

    // font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    color: var(--title-text-color);

    // outline: 1px solid red;
  }

  /* это фрагмент стилей для мобилы

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 155px;
  margin: 60px auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.02em; 
  */
}

// .site-page {
//   color: var(--title-text-color);
// }

// .site-nav {
//   display: flex;
//   align-items: center;
//   margin-left: 93px;
//   min-width: 294px;
//   justify-content: space-between;
// }

// .site-nav .link {
//   padding: 31px 0;
//   position: relative;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--title-text-color);
//   transition: color var(--t-cubic);
// }
.link.is-current {
  color: var(--accent-color);
}
// .link.is-current::after {
//   content: "";
//   position: absolute;
//   bottom: 0;
//   left: 0;

//   display: block;
//   width: 100%;
//   height: 4px;
//   border-radius: 2px;
//   background-color: var(--accent-color);
// }
.email,
.phone {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.02em;
  color: #757575;

  // font-weight: 500;
  // font-size: 14px;
  // line-height: calc(16 / 14);
  // letter-spacing: 0.02em;
  // color: #afb1b8;

  // transition: color var(--t-cubic);
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14/12);
    // letter-spacing: 0.02em;
  }

  // outline: 1px solid orange;
}
.envelope,
.smartphone {
  margin-right: 10px;

  fill: var(--primary-text-color);

  // transition: fill var(--t-cubic);
}
// .header .email {
//   margin-right: 50px;
// }
// .header address {
//   display: flex;
//   margin-left: auto;
// }
// .site-nav .link:hover,
// .site-nav .link:focus,
// .email:hover,
// .email:focus,
// .phone:hover,
// .phone:focus,
// .map-address:hover,
// .map-address:focus {
//   color: var(--accent-color);
// }
// .email:hover .envelope,
// .phone:hover .smartphone{
//   fill: var(--accent-color);
// }
.contacts {
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  height: 58px;
  margin-bottom: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
  // space-between;
  // text-align: center;

  // outline: 1px solid orange;
}
