body {
  font-family: Roboto; // font-style: normal;
  /*не ясно, почему нет у элемента 1st, в TDs*/
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}
.container {
  // width: 1200px;
  // padding: 0 15px;
  // margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  // margin-left: auto;
  // margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
// .direction-title,
.clients-header,
.team-header{
  font-weight: bold;
  font-size: 28px;          // 36px;
  line-height: calc(33/28); // 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}