.clients {
  // padding-top: 94px;
  // padding-bottom: 94px;
    padding: 60px 0 45px;

  &-header{
    margin-bottom:30px;    
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  &-item{  
    width: calc((100% - 4 * 5px) / 2);
  }
}
.client-icon {
  max-width: 88px;
  max-height: 52px;
  // fill: currentColor;
}
.client-link {
  display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  text-align: center;
  color: #afb1b8;

  transition: color var(--t-cubic);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    outline: none;
  }
}