@media screen and (min-width:$dt-res){
.hero {
  width: 1600px;
  height: 600px;
  margin: 0 auto 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/desktop/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0 200px;
}
.hero .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero .button {
  margin-top: 30px;  
}}