// @import "./variables"; 
// @import "./utils";
// @import "./presets";
// @import "./components";

// Desktop styles 

@import "./0header";
@import "./1hero";
@import "./2vertu"; 
@import "./3directions";
@import "./4team";
@import "./5clients";
@import "./footer";

@import "./menu";
@import "./backdrop_modal";
@import "./form";
@import "./portfolio";