//  Combo Hero M & T


// .hero {
//   // width: 1600px;
//   height: 400px;
//   width: 480px;
//   // margin: 0 auto 0 auto;
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/mobile/img.jpg);
//   background-repeat: no-repeat;
  // background-size: cover;
  // padding: 200px 0 200px;

  // @media screen and (min-width: 1200px){
  //   width: 1600px;
  //   background-image: linear-gradient(
  //     rgba(47, 48, 58, 0.4),
  //     rgba(47, 48, 58, 0.4)),
  //   url(../images/desktop/img.jpg);
  // }
// }

// .hero .container {
//   // display: flex;
//   // align-items: center;
//   // flex-direction: column;
//   // justify-content: center;
//   // width: 100%;
// }
