.nav {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // outline: 1px solid teal;
}
// .header::after {
//   content: "";
//   width: 1600px;
//   height: 1px;
//   background-color: #ececec;
//   display: block;
//   margin: 0 auto auto;
// }
.header .container {
  position: relative;
  height: 60px;
  // display: table-cell;
  // vertical-align: middle;

  // display: flex;
  // align-items: center;
  //padding: 25px 0 24px;
  // outline: 1px solid red;
  border-bottom: 1px solid #ececec;
}
.header .logo {
  //   display: block;
  // padding-top: 16px;
  // margin-top: 16px;
  //   outline: 1px solid black;
}
