// Tablet Vertu ! закрыть скобку {

.vertu {
  // padding: 94px 0;

  &-list {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;

    outline: 1px solid black;
  }

  &-item {
    // margin: var(--mci);
    // width: calc((100% - 2 * 2 * var(--mci)) / 2);
    margin: 15px;
    width: calc((100% - 2 * 2 * 15px) / 2);
  }
}
.vertu .icon {
  margin-left: 142px;
}
