//             Tablet Menu            !закрыть фигурку внизу

@media screen and (min-width: 768px) and(max-width: 1199px) {
  .menu-button {
    display: none;
  }

  .menu-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    box-shadow: none;
  }
  // .nav{
  //   // padding: 21px 0;
  // }
  .site-nav {
    width: 294px;
    height: 48px;
    margin-left: 88px;
    display: flex;
    // align-items: flex-end ;
    justify-content: space-between;
    // font-family: Roboto;
    // font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    color: var(--title-text-color);

    margin-top: 32px;

    // outline: 1px solid black;
  }
  // .site-page{
  //   // display: inline;
  // outline: 1px solid black;
  // }
  .contacts a {
    display: flex;
    // font-family: Roboto;
    // font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;

    color: var(--primary-text-color);

    // outline: 1px solid black;
  }
  .contacts {
    // display: blok;
    margin-top: 21px;

    // outline: 1px solid black;
  }
  .phone {
    margin-top: 10px;
  }
  .smartphone,
  .envelope {
    margin-right: 10px;
  }
}
