@import "/sass/desktop/variables";
@import "/sass/desktop/presets";
@import "/sass/desktop/components";
@import "/sass/desktop/utils";
@import "/sass/desktop/header";
@import "/sass/desktop/hero";
@import "/sass/desktop/vertu";
@import "/sass/desktop/directions";
@import "/sass/desktop/team";
@import "/sass/desktop/clients";
@import "/sass/desktop/footer";
@import "/sass/desktop/portfolio";
@import "/sass/desktop/backdrop_modal";
@import "/sass/desktop/form";