.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer .container {
  display: flex;
}
.footer address {
  width: 231px;
  height: 81px;
  display: inline-block;
  margin-top: 20px;
}
.map-address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;

  transition: color var(--t-cubic);
}
.footer .part2 {
  color: #ffffff;
}
.address-item .email,
.address-item .phone {
  display: block;
  margin-top: 9px;
}
.join-box {
  width: 206px;
  height: 80px;
  margin-left: 70px;
  margin-top: 12px;
}
.join-header,
.subscribe label {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.soc-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.join-box .soc-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  fill: #afb1b8;
}
/* ------------------- ПОДПИСКА --------------------*/
.subscribe {
  display: flex;

  width: 570px;
  height: 86px;
  margin-left: 93px;
  margin-top: 12px;

  align-items: flex-end;
  justify-content: space-between;
}
.subscribe label {
  margin-bottom: 20px;
}
.subscribe-email {
  display: flex;
  flex-direction: column;
}
.subscribe input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: #2f303a;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  line-height: calc(20 / 16);
  color: #fff;
}
.subscribe button {
  padding: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--accent-color);
}
.send {
  margin-left: 10px;
}