//      Mobi Header   ! Закрыть фигурку

@media screen and (max-width: 767px) {
  .header .container {
    position: relative;
    // position: fixed;
    // z-index: 100;
    height: 60px;

    // border-bottom: 1px solid #ececec; // maket by
     outline: 1px solid black;
  }
  .logo {
    font-weight: bold; // 700;
    line-height: calc(28 / 24); //31/26);
    // outline: 1px solid black;
  }
  // .header .logo {
  .nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    //  outline: 1px solid teal;
  }
  // .header::after {
  //   content: "";
  //   width: 1600px;
  //   height: 1px;
  //   background-color: #ececec;
  //   display: block;
  //   margin: 0 auto auto;
  // }
}
