//  Mobi Vertu

@media screen and (max-width: 767px) {
  .vertu .icon {
    margin: 25px 190px;
    width: 70px;
    height: 70px;
  }
  // .icon-place{
    // display: flex;
    // margin: 25px auto;
    // padding: 25px auto;
  // }
}
