//                      Mobi






@import "./menu";

@import "./0header";
@import "./1hero";
// @import "./2vertu";
    // @import "./3directions"; отсутстует в этой вёрстке
// @import "./4team";
// @import "./5clients";
// @import "./footer";

// @import "./backdrop_modal";
// @import "./form";
// @import "./portfolio";

// @import "./variables";
// @import "./utils";
// @import "./presets";
// @import "./components";
